<form action="/things" method="post">

  <label for="inputName">Add the name</label>
  <input id="inputName" name="inputName" type="text">

  <label for="inputWeight">Add the weight</label>
  <input id="inputWeight" name="inputWeight" type="text">

  <label for="inputManufacturer">Add the manufacturer</label>
  <input id="inputManufacturer" name="inputManufacturer" type="text">

  <label for="inputPacked">Has it been packed?</label>
  <input id="inputPacked" name="inputPacked" type="text">
  
  <label for="inputPurchase">Has it been purchased?</label>
  <input id="inputPurchase" name="inputPurchase" type="text">
  
  <button type="submit">Submit</button>
</form>
